fastapi==0.115.6
uvicorn==0.32.1
tensorflow==2.18.0
keras==3.6.0
numpy==1.26.4
firebase_admin==6.6.0
Pillow==10.4.0
python_multipart==0.0.19
python-dotenv==0.21.0
mediapipe==0.10.18
opencv-python==4.10.0.84
google-generativeai==0.8.3